@import "styles.scss";

.header{
  background-color: $broken-white;
  display: flex;
  flex-direction: row;
  padding: 20px 40px;
  justify-content: space-between;

  .logoMuseum{
    align-items: center;
    height: 60px;
    width: auto;
    max-width: 100px;
  }
  .nav-link{
    align-items: center;
    display: flex;
    gap: 20px;
    a{
      font-family: 'Inter', sans-serif;
      font-weight: bold;
      color: $dark-blue;
      text-decoration: none;
      padding: 10px;
      &:hover{
        color: lighten($dark-blue,30);
      }
    }

  }
  .MenuButton{
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    .bar{
      width: 30px;
      height: 5px;
      background-color: $dark-blue;

    }
    &:hover{
      .bar{
        background-color: lighten($dark-blue, 30);
      }
    }
  }
}
