<div class="header">
  <img class="logoMuseum" src="Museum_logo.png" alt="logoMuseum">
  <nav class="nav-link" *ngIf="!loading">
    <a
      routerLink = "/administration"
      routerLinkActive="active"
    >
      Administration
    </a>
    <a
      routerLink = "/content-list"
       routerLinkActive="active"
    >
      Exposures
    </a>
    <a
      routerLink = "/price-list"
      routerLinkActive="active"
    >
      Tickets
    </a>
    <a
      *ngIf="isAdmin()"
      routerLink = "/user-list"
      routerLinkActive="active"
    >
      Manage User
    </a>
  </nav>
  <div class="MenuButton" (click)="toggleSidebar()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
<div class="sidebar" *ngIf="isSidebarOpen">
  <nav class="nav-link">
    <a (click)="openPopUp()" class="changePassword">Change Password</a>
    <a (click)="logOut()" class="close">LogOut</a>
  </nav>
</div>

<div *ngIf="changePassword">
  <div class="background"></div>
  <app-change-password [visible]="changePassword" (close)="closePopUp()"></app-change-password>
</div>
