<div class="header">
  <img class="logoMuseum" src="./assets/images/picture-gallery-interface-icon-vector.jpg" alt="logoMuseum">
  <nav class="nav-link">
    <a
      routerLink = "/administration"
      routerLinkActive="active"
    >
      Administration
    </a>
    <a
      routerLink = "/content-list"
       routerLinkActive="active"
    >
      Items
    </a>
    <a
      routerLink = "/price-list"
      routerLinkActive="active"
    >
      Tickets
    </a>
    <a
      routerLink = "/user-list"
      routerLinkActive="active"
    >
      Manage User
    </a>
  </nav>
  <div class="MenuButton" (click)="toggleSidebar()">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
<div class="sidebar" *ngIf="isSidebarOpen">
  <nav class="nav-link">
    <a (click)="changePassword()" class="changePassword">Change Password</a>
    <a (click)="logOut()" class="close">LogOut</a>
  </nav>
</div>

<div *ngIf="true">
  <app-change-password></app-change-password>
</div>
