<div class="header">
  <img class="logoMuseum" src="./assets/images/picture-gallery-interface-icon-vector.jpg" alt="logoMuseum">
  <nav class="nav-link">
    <a
      routerLink = "/administration"
      routerLinkActive="active"
    >
      Administration
    </a>
    <a
      routerLink = "/content-list"
       routerLinkActive="active"
    >
      Items
    </a>
    <a
      routerLink = "/price-list"
      routerLinkActive="active"
    >
      Tickets
    </a>
    <a
      routerLink = "/user-list"
      routerLinkActive="active"
    >
      Manage User
    </a>
  </nav>
  <div class="MenuButton">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>
