<section class="content-list">
  <app-header></app-header>
  <div class="top">
    <div class="filter">
      <label for="options">Search by</label>
      <select class="selector" id="options">
        <option value="1">Name</option>
        <option value="2">Date</option>
        <option value="3">Age</option>
      </select>

      <input class="input-search" placeholder="Search">

    </div>
    <button class="btn" (click)="openPopup()">Add +</button>
    <div class="overlay" *ngIf="addPrice"></div>
    <app-add-offer [visible]="addPrice" (close)="closePopup()"></app-add-offer>
  </div>

  <div class="content">

    <div class="header-user">
      <label class="cell"><strong>Name</strong></label>
      <label class="cell">Price</label>
      <label class="cell">From</label>
      <label class="cell">To</label>
      <label class="cell">Age</label>
      <div class="cell" style="padding: 10px 20px"></div>
    </div>
    <div *ngFor="let offer of offers">
      <app-price [offer]="offer"></app-price>
    </div>

  </div>
</section>
