<div class="crud-news">
  <header>
    <button class="btn" id="exit" (click)="exit()">Exit</button>
    <div class="right">
      <button class="btn" id="saves" (click)="saves()" >Saves</button>
      <div class="MenuButton" (click)="toggleSidebar()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </header>
  <div class="bar-menu" *ngIf="isSidebarOpen">
    <nav class="nav-link">
      <a  class="delete" (click)="deleteNew()">Delete Item</a>
    </nav>
  </div>
  <form [formGroup]="form">
    <div class="top">
        <label for="title"
               [ngClass]="{'input-error' : form.controls.title.invalid && submit}"
        >Title</label>
        <input id="title" type="text"
               [formControl]="form.controls.title"
               placeholder="Set title...">
    </div>
    <div class="date-range">
      <label>Date Range</label>
      <div class="group">
        <div class="from">
          <label  for="from"
                  [ngClass]="{'input-error' : form.controls.from.invalid && submit}"
          >From</label>
          <input type="date"
                 [formControl]="form.controls.from"
                 id="from">
        </div>
        <div class="to">
          <label  for="to" >To</label>
          <input type="date"
                 [formControl]="form.controls.to"
                 id="to" >
        </div>
      </div>
    </div>
    <div class="museum">
      <label for="museum"
             [ngClass]="{'input-error' : form.controls.museum.invalid && submit}"
      >Select Museum</label>
      <select id="museum" [formControl]="form.controls.museum">
        <option value="">All museums</option>
        <option *ngFor="let museum of museums"
                [value]="museum.id">
          {{ museum.name }}
        </option>
      </select>
    </div>
    <div class="editor-container">
      <label for="description"
             [ngClass]="{'input-error' : form.controls.description.invalid && submit}"
      >Description</label>
      <app-quill-editor
        id="description"
        [content]="new ? new.body : '' "
        [control]="form.controls.description"
      ></app-quill-editor>
    </div>
  </form>
</div>
