<section class="CUD-publish">
  <header>
    <button class="btn" id="exit">Exit</button>
    <div class="right">
      <button class="btn" id="saves">Saves</button>
      <div class="MenuButton">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </header>
  <div class="body">
    <div class="top-body">
      <div class="left">
        <img src="./assets/images/picture-gallery-interface-icon-vector.jpg" alt="image of item">
        <button class="btn">Choose File</button>
      </div>
      <div class="right">
        <label>Title</label>
        <input type="text" placeholder="Set title...">
      </div>

    </div>
    <div class="editor-container" style="width: 800px; height: 400px;">
      <app-quill-editor ></app-quill-editor>
    </div>
  </div>
</section>
