<section class="CUD-publish">
  <header>
    <button class="btn" (click)="exit()" id="exit">Exit</button>
    <div class="right">
      <button class="btn" (click)="save()"id="saves">Saves</button>
      <div class="MenuButton" (click)="toggleSidebar()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </header>
  <div class="bar-menu" *ngIf="isSidebarOpen">
    <nav class="nav-link">
      <a  class="publish" (click)="setPublish()">Publish Exhibition</a>
      <a  class="publish" (click)="downloadQR()">Download QR</a>
      <a  class="delete" (click)="deleteExhibition()">Delete Exhibition</a>
    </nav>
  </div>
  <form [formGroup]="form" class="body">
    <div class="top-body">
      <div class="left">
        <img [src]="previewUrl || exhibition.imageUrl" alt="image of item">
        <input type="file" #fileInput (change)="setImage($event)" accept="image/*" hidden>
        <button class="btn" (click)="fileInput.click()">Choose File</button>
      </div>
      <div class="right">
        <label>Title</label>
        <input type="text"
               [formControl]="form.controls.title"
               placeholder="Set title...">
      </div>

    </div>
    <div class="editor-container">
      <app-quill-editor
        [content]="exhibition.description"
        [control]="form.controls.description"
      ></app-quill-editor>
    </div>
  </form>
</section>
