@import 'styles.scss';

.user{
  @include standard-box(90%,5px,5);
  font-family: 'Inter', sans-serif;

  .cell{
    align-self: center;
  }
  .btn{
    @include standard-button($blue, white);
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
}
