<section class="add-offer" *ngIf="visible">
  <h1 class="title">Add offer</h1>
  <form [formGroup]="form">
    <div class="name">
      <label  for="name">Name</label>
      <input
        type="text"
        [formControl]="form.controls.name"
        [ngClass]="{'input-error' : form.controls.name.invalid && submit}"
        placeholder="Set name..." id="name">
    </div>
    <div class="price">
      <label  for="price">Price</label>
      <input type="number"
             [formControl]="form.controls.price"
             [ngClass]="{'input-error' : form.controls.price.invalid && submit}"
             placeholder="Set price..." id="price">
    </div>
    <div class="age">
      <label for="ageGroup">Age Group</label>
      <select
        id="ageGroup"
        class="age"
        [formControl]="form.controls.age"
        [ngClass]="{'input-error': form.controls.age.invalid && submit}"
      >
        <option [ngValue]="null">-- Select age group --</option>
        <option value="senior">Senior</option>
        <option value="adult">Adult</option>
        <option value="young">Young</option>
        <option value="child">Child</option>
      </select>
    </div>
    <div class="date-range">
      <label>Date Range</label>
      <div class="group">
        <div class="from">
          <label  for="from">From</label>
          <input type="date"
                 [formControl]="form.controls.from"
                 [ngClass]="{'input-error' : form.controls.from.invalid && submit}"
                 id="from">
        </div>
        <div class="to">
          <label  for="to" >To</label>
          <input type="date"
                 [formControl]="form.controls.to"
                 [ngClass]="{'input-error' : form.controls.to.invalid && submit}"
                 id="to" >
        </div>
      </div>
    </div>
  </form>
  <div class="foot">
    <button class="cancel" (click)="closePopup()">Cancel</button>
    <button class="add" (click)="addOffer()">Add Offer</button>
  </div>
</section>
