@import "styles.scss";

.add-offer{
  @include standard-modal();
  top: 0;
  transform: translate(-50%, 0%);
  .form{
    .input-error{
      @include standard-input-error();
    }
  }
  .foot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    .cancel {
      @include standard-button(white, red);
      border-radius: 10px;
    }

    .add {
      @include standard-button($blue, $broken-white);
      border-radius: 10px;
    }
  }
}
