<section class="exposure-list">
  <app-header></app-header>
  <div class="content-list">
    <div class="side_menu_expo">
      <div>
        <label>Filter by name</label>
        <app-filter (filter)="filterExposures($event)"></app-filter>
      </div>
      <div>
        <label>Select Museum</label>
        <div class="checkboxes">
          <div *ngFor="let museum of museums; let i = index">
            <label>
              <input
                type="checkbox"
                [value]="museum.id"
                (change)="onChangeMuseumCheckboxes($event)"
                name="museumCheckbox"
                [checked]="selectedMuseum.includes(museum.id)"
              >
              {{ museum.name }}
            </label>
          </div>
        </div>
      </div>

      <button class="btn" (click)="addItem()">Add +</button>
    </div>
    <app-exposure-list [exposures]="filteredExposures" (exposureDeleted)="onExposureDeleted($event)"></app-exposure-list>
  </div>
</section>
<div class="add-exposure" *ngIf="addExposure">
  <div class="background">
    <div class="content">
      <h2 class="title">Set new exposure</h2>
      <form [formGroup]="form">
        <div>
          <label for="exposure">New Exposure</label>
          <input type="text" id="exposure"
                 placeholder="Set exposure..."
                 [formControl]="form.controls.exposure"
                 [ngClass]="{'input-error' : form.controls.exposure.invalid && submit}"
          >
        </div>
        <div>
          <label for="museumSelect">Select Museum</label>
          <select id="museumSelect" [formControl]="form.controls.selectedMuseumId"                  ç
                  [ngClass]="{'input-error' : form.controls.selectedMuseumId.invalid && submit}">
            <option *ngFor="let museum of museums" [value]="museum.id">
              {{ museum.name }}
            </option>
          </select>
        </div>
      </form>
      <div class="foot">
        <button class="cancel" (click)="closeForm()">Cancel</button>
        <button class="add" (click)="addNewExposure()">Add Exposure</button>
      </div>
    </div>
  </div>
</div>
