<section class="content-list">
  <app-header></app-header>
  <div class="top">
    <div class="dropdown-container" #dropdownRef>
      <div class="dropdown-toggle" (click)="toggleDropdown()">
        {{ selectedExposures.length ? selectedExposures.join(', ') : 'Filter by exposure' }}
      </div>

      <div class="dropdown-menu" *ngIf="dropdownOpen">
        <label class="dropdown-option">
          <input type="checkbox" [checked]="isSelected('All')" (change)="toggleSelection('All')" />
          All
        </label>
        <label class="dropdown-option" *ngFor="let exposure of exposuresOptions">
          <input
            type="checkbox"
            [checked]="isSelected(exposure)"
            (change)="toggleSelection(exposure)"
            [disabled]="selectedExposures.includes('All')"
          />
          {{ exposure }}
        </label>
      </div>
    </div>

    <button class="btn" (click)="addItem()">Add +</button>
  </div>

  <div class="content">
      <div *ngFor="let expo of exposures">
        <app-exposure-item (exposureDeleted)="onExposureDeleted($event)" [exposure]="expo"></app-exposure-item>
      </div>
  </div>
</section>
