@import "styles.scss";

.login {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Inter', sans-serif;

  .right {
    height: 100%;
    width: 70%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;

    .title{
      color: $broken-white;
      margin-bottom: 50px;
    }
    .user-credential {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 30px;
      color: $broken-white;

      .inputContainer {
        @include standard-inputContainer();

        img {
          width: 30px;
          height: 30px;
        }
      }
      .input-error{
        @include standard-input-error();
      }

      .label-error{
        color: red;
      }
    }
    .failLogin{
      color: red;
      font-weight: bold;
    }
    .btn{
      @include standard-button($broken-white, $dark-blue);
      margin-top: 50px;
      padding: 20px 60px;
    }
  }
  .left {
     width: 30%;
    img{
      width: 100%;
      height: 100%;
    }
  }
}
