<div>
  <div class="left">
    <img src="assets/images/picture-gallery-interface-icon-vector.jpg" alt="museum image">
  </div>
  <div class="right">
    <h1 class="title">Lorem Ipsum</h1>
    <a class="text">User Name</a>
    <div class="inputContainer">
      <img src="assets/icons/account_circle_24dp_3C6373_FILL0_wght400_GRAD0_opsz24.png" alt="icon">
      <input type="text" class="userName">
    </div>
    <a class="text">Password</a>
    <div class="inputContainer">
      <img src="assets/icons/lock_24dp_3C6373_FILL0_wght400_GRAD0_opsz24.png" alt="icon">
      <img src="assets/icons/lock_open_24dp_3C6373_FILL0_wght400_GRAD0_opsz24.png" style="display: none" alt="icon">
      <input type="text" class="userName">
    </div>
  </div>
</div>
