<section class="login">
  <div class="left">
    <img src="assets/images/picture-gallery-interface-icon-vector.jpg" alt="museum image">
  </div>
  <form class="right" [formGroup]="form">
    <h1 class="title">Lorem Ipsum</h1>
    <div class="user-credential" >
      <label class="text"
             [ngClass]="{'label-error' : form.controls.user.invalid && submit}"
      >User Name</label>
      <div class="inputContainer" [ngClass]="{'input-error' : form.controls.user.invalid && submit}">
        <img src="assets/icons/account_circle_24dp_3C6373_FILL0_wght400_GRAD0_opsz24.png" alt="icon">
        <input
          type="text"
          [formControl]="form.controls.user"
          class="userName">
      </div>
    </div>
    <div class="user-credential">
      <label class="text" [ngClass]="{'label-error' : form.controls.password.invalid && submit}">Password</label>
      <div class="inputContainer" [ngClass]="{'input-error' : form.controls.password.invalid && submit}">
        <img
          src="assets/icons/lock_24dp_3C6373_FILL0_wght400_GRAD0_opsz24.png"
          alt="icon"
          (click)="togglePassword()"
          [hidden]="!isPasswordHidden"
        >
        <img
          src="assets/icons/lock_open_24dp_3C6373_FILL0_wght400_GRAD0_opsz24.png"
          alt="icon"
          (click)="togglePassword()"
          [hidden]="isPasswordHidden"
        >
        <input [type]="isPasswordHidden ? 'password' : 'text'"
               [formControl]="form.controls.password"
               class="password">
      </div>
    </div>
    <button class="btn" (click)="onSubmit()">Login</button>
  </form>
</section>
