<section class="login">
  <div class="left">
    <img src="assets/images/picture-gallery-interface-icon-vector.jpg" alt="museum image">
  </div>
  <div class="right">
    <h1 class="title">Lorem Ipsum</h1>
    <div class="user-credential">
      <label class="text">User Name</label>
      <div class="inputContainer">
        <img src="assets/icons/account_circle_24dp_3C6373_FILL0_wght400_GRAD0_opsz24.png" alt="icon">
        <input type="text" class="userName">
      </div>
    </div>
    <div class="user-credential">
      <label class="text">Password</label>
      <div class="inputContainer">
        <img
          src="assets/icons/lock_24dp_3C6373_FILL0_wght400_GRAD0_opsz24.png"
          alt="icon"
          (click)="togglePassword()"
          [hidden]="!isPasswordHidden"
        >
        <img
          src="assets/icons/lock_open_24dp_3C6373_FILL0_wght400_GRAD0_opsz24.png"
          alt="icon"
          (click)="togglePassword()"
          [hidden]="isPasswordHidden"
        >
        <input [type]="isPasswordHidden ? 'password' : 'text'" class="password">
      </div>
    </div>
    <button class="btn" (click)="onSubmit()">Login</button>
  </div>
</section>
