@import "styles.scss";


.change-password{
  @include standard-modal();
  form{
    div {
      .input-error {
        @include standard-input-error();
      }
      .label-error{
        color: red;
      }
    }
  }
  .label-error{
    color: red;
  }
  .foot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    .cancel {
      @include standard-button(white, red);
      border-radius: 10px;
    }

    .change {
      @include standard-button($blue, $broken-white);
      border-radius: 10px;
    }
  }
}
