<section class="change-password" *ngIf="visible">
  <h1 class="title">Change Password</h1>
  <form>
    <div>
      <label for="newPassword">New Password</label>
      <input id="newPassword" type="password" placeholder="New password"  />
    </div>
    <div>
      <label for="confirmPassword">Confirm new password</label>
      <input id="confirmPassword" type="password" placeholder="Confirm new password" />
    </div>
  </form>
  <div class="foot">
    <button class="cancel">Exit</button>
    <button class="change">Change Password</button>
  </div>
</section>
