<section class="change-password" *ngIf="visible">
  <h1 class="title">Change Password</h1>
  <form  [formGroup]="form">
    <div>
      <label for="newPassword">New Password</label>
      <input id="newPassword" type="password"
             placeholder="New password"
             [ngClass]="{'input-error' : form.controls.password.invalid && submit}"
             [formControl]="form.controls.password"/>
    </div>
    <div >
      <label for="confirmPassword">Confirm new password</label>
      <input id="confirmPassword" type="password"
             placeholder="Confirm new password"
             [ngClass]="{'input-error' : form.controls.repPassword.invalid && submit}"
             [formControl]="form.controls.repPassword"
             />
    </div>
    <label class="label-error"
           *ngIf="form.invalid && submit"
    > Both passwords must have a minimum of 6 characters.</label>
    <label class="label-error"
           *ngIf="failPassword"
    > Both passwords must be the same.</label>
  </form>

  <div class="foot">
    <button (click)="closePopUp()" class="cancel">Exit</button>
    <button (click)="frontChangePassword()" class="change">Change Password</button>
  </div>
</section>
