@import "styles.scss";

.modal{
  @include standard-modal();

  .foot {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;

    .cancel {
      @include standard-button(white, red);
      border-radius: 10px;
    }

    .change {
      @include standard-button($blue, $broken-white);
      border-radius: 10px;
    }
  }
}
