<section class="content-list">
  <app-header></app-header>
  <div class="top">
   <app-search [data]="users" (filtered)="filteredUsers = $event"></app-search>
  </div>

  <div class="content">

    <div class="header-user">
      <label class="cell"><strong>ID</strong></label>
      <label class="cell">Name</label>
      <label class="cell">Email</label>
      <label class="cell">Role</label>
      <div class="cell" style="padding: 10px 20px"></div>
    </div>

    <div *ngFor="let user of filteredUsers">
      <app-user [user]="user"></app-user>
    </div>
  </div>
</section>
