<div class="app-administration">
  <app-header></app-header>
  <main>
    <div class="top-bar">
      <button class="btn" (click)="addGraphic()" [disabled]="graphics.length >= 2">
        Add Graphic
      </button>
    </div>
    <div class="graphic" *ngFor="let graphicId of graphics">
        <app-graphic
          [museumDaily]="museumDaily"
          [exposuresInputs]="exposures"
          [exhibitionsInputs]="exhibitions"
          [tickets]="tickets"
          [museums]="museum"
          [idCanva]="graphicId.toString()"
          (closeGraphic)="removeGraphic(graphicId)">
        </app-graphic>
    </div>
  </main>
</div>
