@import "styles.scss";

.app-administration {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .top-bar{
    width: 100%;
    display: flex;
    justify-content: right;
    .btn {
      @include standard-button($broken-white, $blue);
      margin: 10px;
    }
  }
  .graphic{
    height: 50%;
  }
}





