@import "styles.scss";

.itemList{
  @include standard-box(90%,10px,row);
  font-family: 'Inter', sans-serif;
  gap: 30px;
  border-radius: 20px;

  .image{
    height: 100px;
    max-width: 110px;
    align-self: center;
  }

  .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left:40px;

    .information{
      .title{
        font-weight: bold;
        margin-top: 0;
      }
    }
    .btn{
      @include standard-button($blue,$broken-white);
    }
  }
}
