@import "styles.scss";

.itemList{
  width: 90%;
  margin: 10px;
  padding: 20px;
  background-color: $broken-white;
  border: 1px solid $ultra-light-blue;
  justify-self: center;
  display: flex;
  flex-direction: row;
  font-family: 'Inter', sans-serif;
  gap: 30px;
  border-radius: 20px;

  .image{
    height: 100px;
    max-width: 110px;
    align-self: center;
  }

  .content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left:40px;

    .information{
      .title{
        font-weight: bold;
        margin-top: 0;
      }
      .data{
        max-height: 100px;
        overflow: hidden;
        overflow-wrap: anywhere;
        word-break: normal;
        text-align: justify;
      }
    }
    .btn{
      @include standard-button($blue,$broken-white);
    }
  }
}
