@import "styles.scss";

.bar-menu{
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: fit-content;
  justify-content: space-around;
  border-bottom: 1px solid $light-blue;
  align-items: center;
  overflow-y: auto;

  .dates{
    padding: 1rem 15px;
    display: flex;
    flex-direction: column;
    gap:10px;

    div{
      display: flex;
      flex-direction: row;
      gap: 5px;
      justify-content: space-between;
      label{
        color: $dark-blue;
        font-weight: bold;
      }
    }
  }

  .exposures{
    @include standard-checkboxes();
  }

  .exhibitions{
    @include standard-checkboxes();
  }

  .museum{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
    label{
      color: $dark-blue;
      font-weight: bold;
    }
  }

  .typeChart{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 5px;
    label{
      color: $dark-blue;
      font-weight: bold;
    }
  }
  .typeData{
    display: flex;
    flex-direction: column;
    justify-content: left;
    label{
      color: $dark-blue;
      font-weight: bold;
    }
  }
}
