<section  class="bar-menu">
  <h3 class="menu_title">Bar Tools</h3>
  <div class="dates">
    <div>
      <label for="from" class="title_filter">From</label>
      <input type="date" id="from" (input)="onFromDateChange($event)">
    </div>
    <div>
      <label for="to" class="title_filter">To</label>
      <input type="date" id="to" (input)="onToDateChange($event)">
    </div>
  </div>

  <div class="exposures">
    <label class="title">Exposures</label>
    <div class="content">
      <label class="checkbox-label" *ngFor="let exposure of exposuresInputs">
        <input [attr.type]="isSingleSelection ? 'radio' : 'checkbox'" [value]="exposure.name"
               (change)="onChangeExposuresCheckboxes($event)"
               name="exposure">
        {{ exposure.name }}
      </label>
    </div>
  </div>
  <div class="exhibitions">
    <label class="title">Exhibitions</label>
    <div class="content">
      <label class="checkbox-label" *ngFor="let exhibition of exhibitionsInputs">
        <input [attr.type]="isSingleSelection ? 'radio' : 'checkbox'" [value]="exhibition.title"
               (change)="onChangeExhibitionsCheckboxes($event)"
               name="exhibition">
        {{ exhibition.title }}
      </label>
    </div>
  </div>
  <div class="typeChart">
    <label>Chart Type</label>
    <select class="type-btn" (change)="onChartTypeChange($event)">
      <option value="line">Line</option>
      <option value="bar">Bar</option>
    </select>
  </div>
  <select class="btn" (change)="onSelectChange($event)">
    <option value="1">Total Visits</option>
    <option value="2">Visits by Age</option>
    <option value="3">Visits by Age and Date</option>
    <option value="4">Purchase Dates</option>
    <option value="5">Daily Revenue</option>
    <option value="6">Total Visits to Exhibitions</option>
    <option value="7">Visits to Exhibitions by Date</option>
    <option value="8">Total Visits to Exposures</option>
    <option value="9">Visits to Exposures by Date</option>
  </select>
</section>
