@import "styles.scss";

.graph-content{
  display: flex;
  flex-direction: column;
  //height: 100%;
  border-bottom: 1px solid $light-blue;
  .bar-menu{
    width: 100%;
  }
  .graphic{
    width: 100%;
    justify-self: center;
    .btn{
      @include standard-button($broken-white,red);
      position: absolute;
      height: fit-content;
    }
  }
}
