/* You can add global styles to this file, and also import other style files */
$dark-blue: #193540;
$blue: #3C6373;
$light-blue: #689BA6;
$ultra-light-blue: #99B8BF;
$broken-white: #F2F2F2;
$grey: #B3B3B3;

body{
  margin: 0;
  max-width: 100vw;
  max-height: 100vh;
}

@mixin standard-input-error{
  border: 1px solid red;
}
@mixin standard-button($bgcolor, $color){
  background-color: $bgcolor;
  color: $color;
  padding: 10px 20px;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  border-radius: 20px;
  border: 1px solid $color;
  width: fit-content;

  &:hover{
    background-color: $color;
    color: $bgcolor;
    border: 1px solid $bgcolor;
  }
}

@mixin standard-box($width, $margin, $columns: 1) {
  margin: $margin;
  width: $width;
  padding: 20px;
  background-color: $broken-white;
  display: grid;
  grid-template-columns: repeat(#{$columns}, 1fr);
  border: 1px solid $ultra-light-blue;
  justify-self: center;

  .cell {
    align-self: center;
    display: flex;
    justify-content: center;
  }
}




@mixin standard-inputContainer{
  background-color: $broken-white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  max-width: 460px;
  border: 1px solid black;
  border-radius: 15px;

  input{
    background-color: $broken-white;
    border: none;
    width: 100%;
    padding-right: 40px;
    height: 35px;
    font-size: 18px;
    &:focus{
      outline: none;
      border: none;
    }
  }
}
