<section class="add-user" *ngIf="visible">
  <h1 class="title">Send invitation to register</h1>
  <form [formGroup]="form">
    <div class="email">
      <label  for="email">Email</label>
      <input type="text"
             id="email"
             [formControl]="form.controls.email"
             [ngClass]="{'input-error' : form.controls.email.invalid && submit}"
             placeholder="Set email...">
      <label  for="name">Name</label>
      <input type="text"
             id="name"
             [formControl]="form.controls.name"
             [ngClass]="{'input-error' : form.controls.name.invalid && submit}"
             placeholder="Set email...">
    </div>
  </form>
  <div class="foot">
    <button class="cancel" (click)="closePopup()">Cancel</button>
    <button class="add" (click)="onSubmit()">Send</button>
  </div>
</section>
